<app-sidebar></app-sidebar>

<!-- <app-board></app-board> -->

<!-- <div *ngIf="board == 'admin'">
    <app-board-admin></app-board-admin>
</div>

<div *ngIf="board == 'ResRelEnt'">
    <app-board-admin></app-board-admin>
</div>

<div *ngIf="board == 'coorTech'">
    <app-board-admin></app-board-admin>
</div>

<div *ngIf="board == 'formateur'">
    <app-board-admin></app-board-admin>
</div>

<div *ngIf="board == 'ResRelEnt'">
    <app-board-admin></app-board-admin>
</div>

<div *ngIf="board == 'apprenant'">
    <app-board-admin></app-board-admin>
</div>

<div *ngIf="board == 'gestStock'">
    <app-board-admin></app-board-admin>
</div>

<div *ngIf="board == 'gestRestaurant'">
    <app-board-admin></app-board-admin>
</div>

<div *ngIf="board == 'user'">
    <app-welcome></app-welcome>
</div> -->
